# Copie para .env (que é ignorado pelo git) e preencha antes de rodar `docker compose up`.
# License key (ingest) da sua conta New Relic. Sem ela a API sobe normalmente, mas o agente
# APM não envia métricas, logs nem traces.
NEW_RELIC_LICENSE_KEY=
